.p{
    position:absolute;
    right:20px;
    top:700px;




}

.d{ 
   position:absolute;
   right:400px;
   top:400px;



}

.c{
    position:absolute;
    right:20px;
    



}

.g{
  position:absolute;
  left:400px;
  top:200px;


}

.w{
  position:absolute;
  left:400px;
  top:200px;




}

.ok{

  position:absolute;
  left:400px;
  top:200px;


}

.f{


  position:absolute;
  left:400px;
  top:200px;
  
}